.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#answer {
  height: 200px;
  width: 500px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 10px;
  padding: 16px;
}

.ui-button {
  height: 40px;
  width: 240px;
  background-color: #f1f227;
  color: #282c34;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.ui-button:hover {
  cursor: pointer;
  background-color: #DFE015;
}

.ui-button:focus {
  outline: none;
}

@media only screen and (max-width:600px) {
  #answer {
    width: 260px;
    height: 150px;
  }
}
